<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<main>
  <!-- Pr1 - Pr2 -->
  <h3>{{title}}</h3>
  Hola mundo soy: {{nombre}}
  <!-- Pr 3 -->
  <!--<app-prueba></app-prueba>-->
  <!-- Pr4 -->
  <app-gente></app-gente>
  <!--En un lugar de la Mancha...
  {{nombre + " " + apellidos}}-->
  <!--<input type="text" #inputdato placeholder="pon un numero"/>-->
  <!--<textarea name="tablaTextarea" id="tablaTextarea" cols="30" rows="10">{{tablaMultiplicar}}</textarea>-->
  <!--<ul>
    <li *ngFor="let elemento of tabla">{{elemento}}</li>
  </ul>-->
  <!--<button (click)="ejecutate(inputdato.value)">pulsa</button>-->
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!--
  <router-outlet />
-->
