<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<main>
  <!-- Pr1 - Pr2 -->
  <!-- <h3>{{title}}</h3>
  Hola mundo soy: {{nombre}} -->
  <!-- Pr 3 -->
  <!--<app-prueba></app-prueba>-->
  <!-- Pr4 -->
  <!-- <app-gente></app-gente> -->
  <!-- Pr7 -->
  <!--<app-pr7-gatos></app-pr7-gatos>-->
  <!-- Tabla Ampliada -->
  <!-- <app-tabla-multiplicar></app-tabla-multiplicar> -->
  <!-- Pr8 -->
  <!-- <app-pr8-piedra-papel-tijera></app-pr8-piedra-papel-tijera> -->
  <app-pr9-doble-enlazado></app-pr9-doble-enlazado>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!--
  <router-outlet />
-->
