.contenedorEstandar{
    height: 100vh; /* Ocupa toda la altura de la pantalla */
}

.listarPeliculas{
    display: grid;
    gap: 12px; /* Espacio entre los elementos */
    grid-template-columns: repeat(5, 1fr); /* Configura columnas */
    align-items: center;
}

.bg-navbar-dark{
    background-color: #242424;
}

.bg-navbar-light{
    background-color: #d3d3d3;
}

.bg-container-dark{
    background-color: #000000;
}

.changeTheme{
    height: 20px;
    width: 40px;
}

.formulario{
    width: 600px;
    padding: 12px;
    border-radius: 10px;
    background-color: #6e6e6e;
}

.search{
    width: 300px;
}

.cartelera{
    width: 280px;
    height: 416px;
    object-fit: cover; /* Corta o amplía la imagen para que llene el área definida */
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 8px;
    margin-right: 0px;
    border-radius: 10px;

}

.cartelera:hover{
    transform: scale(1.05); /* Escala el elemento al pasar el mouse */
    transition: transform 0.3s ; /* Animación de transición */
}

.peliculaMostrar{
    width: 800px;
    padding: 12px;
    border-radius: 10px;
    background-color: #6e6e6e;
}

.peliculaView{
    width: 1000px;
    padding: 12px;
    border-radius: 10px;
    background-color: #6e6e6e;
}

.peliculaMostrar img, .peliculaView img{
    width: 280px;
    height: 416px;
    object-fit: cover;
}

.categoria-dark{
    padding-top: 10px;
    display: flex;
    border: solid 1px white;
    border-radius: 10px;
    justify-content: center;
    
    width: 200px;
    margin: auto;
}

.categoria-light{
    padding-top: 10px;
    display: flex;
    border: solid 1px;
    border-radius: 10px;
    justify-content: center;
    
    width: 200px;
    margin: auto;
}

.categoria-dark:hover, .categoria-light:hover{
    cursor: pointer;
}