<main>
  <form [formGroup]="gatosFormData" (submit)="guardarPersona()">
    <input type="text" id="nombre" formControlName="nombre" placeholder="nombre" /><br>
    <input type="text" id="peso" formControlName="peso" placeholder="peso" /><br>
    <input type="text" id="edad" formControlName="edad" placeholder="edad" /><br>
    <input type="text" id="equivalenciaHumano" formControlName="equivalenciaHumano" placeholder="equivalencia humano" /><br>

    <br>
    <button type="submit" >Guardar</button>
  </form>
  <table>
    <tr>
      <th>Nombre</th>
      <th>Peso</th>
      <th>Edad</th>
      <th>Equiv Hum</th>
    </tr>
    <tr *ngFor="let gato of gatos">
      <td>{{gato.nombre}}</td>
      <td>{{gato.peso}}</td>
      <td>{{gato.edad}}</td>
      <td>{{gato.equivalenciaHumano}}</td>
    </tr>
  </table>
</main>
