<div>
  <form [formGroup]="formulario" (submit)="calcularImc()">
    <input type="text" id="nombre" formControlName="nombre" placeholder="nombre" /><br>
    <input type="number" id="peso" formControlName="peso" placeholder="peso" /><br>
    <input type="number" id="altura" formControlName="altura" placeholder="altura" /><br>
    <br>
    <button type="submit" >Guardar</button>
  </form>

  <ul>
    <li *ngFor="let persona of personas">
      <p>Nombre: {{ persona.nombre }}</p>
      <p>Peso: {{ persona.peso }}</p>
      <p>Altura: {{ persona.altura }}</p>
      <p>IMC: {{ persona.imc }}</p>
    </li>
  </ul>
</div>
