.grid{
    margin: auto;

    justify-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    gap: 20px; /* Espacio entre los botones - reducido */
    padding: 20px; /* Espaciado interno del contenedor */

    align-items: center; /* Centra el grid verticalmente (si es necesario) */
    height: 220px;
    width: 460px;

    border: 2px solid black;

    background-color: grey;
}

.numeros{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border-radius: 20px;
}